services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./conf.d:/etc/nginx/conf.d:ro
    networks:
      - jwp_network
    restart: unless-stopped

networks:
  jwp_network:
    name: jwp_network
    external: true